@use "../global" as *;

/* project .p-about
   ----------------------------------------------------------------- */

.p-about__inner {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
}

.p-about__content {
  @include mq(md) {
    width: calc(47% - 6.7% / 2);
  }
}

.p-about__heading {
  margin-top: 12px;
  @include lh(2);

  @include mq(md) {
    margin-top: 18px;
  }
}

.p-about__text {
  margin-top: 18px;
  @include fz(14, 16);
  @include lh(2.3);
  letter-spacing: 0.07em;

  @include mq(md) {
    margin-top: 24px;
  }
}

.p-about__graph {
  margin-top: 32px;
  @include mq(md) {
    margin-top: 0;
    width: calc(53% - 6.7% / 2);
  }
}