extends ./modules/_template
block page
  - var page = 'home';

block main
  main.l-home
    //- メインビジュアル
    section#js-fv-trigger.p-mv.l-home__mv 
      .p-mv__inner.l-container
        include ./svg/_circle01.pug
        include ./svg/_circle02.pug 
        .p-mv__mockups
          picture.p-mv__mockup.p-mv__mockup--pc
            source.p-mv__img(srcset="../img/mv01.webp", type="image/webp")
            img.p-mv__img(src="../img/mv01.png" alt="BrainApp、pc版の管理画面")
          picture.p-mv__mockup.p-mv__mockup--sp
            source.p-mv__img(srcset="../img/mv02.webp", type="image/webp")
            img.p-mv__img(src="../img/mv02.png" alt="BrainApp、スマホ版の管理画面")
        .p-mv__content 
          h2.p-mv__heading
            span
              | どこにいても、
            br.u-hidden-md-down
            span
              | 誰といても、
            br
            span.p-mv__heading-accent
              | がん・生活習慣病予防
          p.p-mv__lead
            | 生活習慣予防できるアプリ
    //- Brain Appについて
    section.p-about.l-home__about
      .p-about__inner.l-container.js-trigger
        .p-about__content
          p.c-section-title 
            | About Brain App
          h2.p-about__heading.c-section-heading
            | #[span.is-split-text Brain App]とは、
            br
            | 生活習慣病の早期発見を
            br
            | サポートする医療認定アプリです。
          p.p-about__text 
            |  道路の位置も幾たびか改まったもので、 
            br
            | 古道はいつのまにか深い山間に埋も木曾路はすべて山の中である。
        .p-about__graph
          picture.p-about__picture
            source.p-about__img(srcset="../img/graph.webp", type="image/webp")
            img.p-about__img(src="../img/graph.png" width="596" height="429" loading="lazy" alt="基礎年齢に対する基礎代謝の推移グラフ（グラフの内容: 年齢を重ねるごとに基礎代謝は減少傾向にある）")
    //- Brain Appの特徴
    section.p-feature.l-home__feature
      .p-feature__inner.l-container
        p.c-section-title
          | Feature 
        h2.p-feature__heading.c-section-heading.js-trigger
          | #[span.is-split-text Brain App]の特徴
        p.p-feature__text
          | 道路の位置も幾たびか改まったもので、古道はいつのまにか深い山間に埋も木曾路はすべて山の中である。
          br
          | (二十二里余にわたる長い谿谷の間に散在していた)
        ol.p-feature__cards.js-trigger
          li.p-feature__card
            span.p-feature__card-number 
              | 1
            picture.p-feature__card-picture.is-scale-in
              source.p-feature__card-img(srcset="../img/feature01.webp", type="image/webp")
              img.p-feature__card-img(src="../img/feature01.png" width="114" height="107" loading="lazy" alt="")
            h3.p-feature__card-title.is-scale-in
              | 生活習慣の自動記録
            p.p-feature__card-text
              | 道の狭いところには、木を伐って並べ、藤づるでからめ、それで街道の狭いのを補った。長い間にこの木曾路に起こって来た変化は、いくらかずつでも嶮岨な山坂の多いところを歩きよくした。
          li.p-feature__card
            span.p-feature__card-number 
              | 2
            picture.p-feature__card-picture.is-scale-in.u-delay01
              source.p-feature__card-img(srcset="../img/feature02.webp", type="image/webp")
              img.p-feature__card-img(src="../img/feature02.png" width="114" height="107" loading="lazy" alt="")
            h3.p-feature__card-title.is-scale-in.u-delay01
              | 月ごとの生活習慣記録
            p.p-feature__card-text
              | それで街道の狭いのを補った。長い間にこの木曾路に起こって来た変化は、いくらかずつでも嶮岨な山坂の多いところを歩きよくした。
          li.p-feature__card
            span.p-feature__card-number
              | 3
            picture.p-feature__card-picture.is-scale-in.u-delay02
              source.p-feature__card-img(srcset="../img/feature03.webp", type="image/webp")
              img.p-feature__card-img(src="../img/feature03.png" width="114" height="107" loading="lazy" alt="")
            h3.p-feature__card-title.is-scale-in.u-delay02
              | 医療認定のレポート
            p.p-feature__card-text
              | 木を伐って並べ、藤づるでからめ、それで街道の狭いのを補った。長い間にこの木曾路に起こって来た変化は、いくらかずつでも嶮岨な山坂の多いところを歩きよくした。
    //- Use Scene 使用シーン
    section.p-scene.l-home__scene.js-trigger
      .p-scene__inner.l-container 
        include ./svg/_circle03.pug 
        p.c-section-title
          | Use Scene
        h2.p-scene__heading.c-section-heading
          | #[span.is-split-text アクティブシニア]の方を中心に 
          br.u-hidden-md-down
          | ご利用いただいております
        ul.p-scene__cards
          li.p-scene__card 
            picture.p-scene__card-picture
              source.p-scene__card-img(srcset="../img/use-scene01.webp", type="image/webp")
              img.p-scene__card-img(src="../img/use-scene01.png" width="244" height="244" loading="lazy" alt="")
            h3.p-scene__card-title
              | 生活習慣病対策施策として
          li.p-scene__card 
            picture.p-scene__card-picture
              source.p-scene__card-img(srcset="../img/use-scene02.webp", type="image/webp")
              img.p-scene__card-img(src="../img/use-scene02.png" width="244" height="243" loading="lazy" alt="")
            h3.p-scene__card-title
              | ヨガ・ストレッチの一環として
          li.p-scene__card 
            picture.p-scene__card-picture
              source.p-scene__card-img(srcset="../img/use-scene03.webp", type="image/webp")
              img.p-scene__card-img(src="../img/use-scene03.png" width="244" height="245" loading="lazy" alt="")
            h3.p-scene__card-title
              | アクティブシニア向けの
              br
              | 老後介護として
    //- Result 実績
    section.p-result.l-home__result
      .p-result__inner.l-container
        .p-result__content
          p.p-result__heading.c-section-title
            | Result 
          h2.p-result__heading.c-section-heading
            | 検査の結果を月ごとに分析することで、
            br
            | 今後の生活習慣改善に役立てることができます。
          p.p-result__text 
            | 道路の位置も幾たびか改まったもので、 
            br
            | 古道はいつのまにか深い山間に埋も木曾路はすべて山の中である
        .p-result__improvement.p-improvement.js-trigger.js-counter-trigger
          .p-improvement__score 
            p.p-improvement__score-title 
              | Brain App 
              br
              | １回目
            .p-improvement__score-point
              | #[span 62]点
          .p-improvement__flow 
            p.p-improvement__flow-text 
              | あるところは数十間の深さに臨む木曾。
            .p-improvement__flow-arrow
            p.p-improvement__flow-text 
              | 嶮岨な山坂の多い(名高い桟)
          .p-improvement__score.is-scale-in
            p.p-improvement__score-title 
              | Brain App 
              br
              | ２回目
            .p-improvement__score-point
                | #[span.js-result-counter(data-num="88") 0]点
        .p-result__img-wrapper 
          picture.p-result__picture
            source.p-result__img(srcset="../img/result.webp", type="image/webp")
            img.p-result__img(src="../img/result.jpg" width="390" height="505" loading="lazy" alt="")
    //- Evidence エビデンス
    section.p-evidence.l-home__evidence 
      .l-container 
        p.c-section-title 
          | Evidence 
        h2.p-evidence__heading.c-section-heading.js-trigger
          | #[span.is-split-text 医療連携]により、 
          br
          | #[span.is-split-text 正確で精密]な、安心して利用できる検査。
        p.p-evidence__text
          | 木曾十一宿はこの街道に添うて、二十二里余にわたる長い谿谷の間に散在していた。
          br
          | 道路の位置も幾たびか改まったもので、古道はいつのまにか深い山間に埋も木曾路はすべて山の中である。
          br
          | あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸である。
          span.p-evidence__text-attention
            | 注意事項：道路の位置も幾たびか改まったもので、古道はいつのまにか深い山間に埋も木曾路はすべて山の中である。
        .p-evidence__items 
          article.p-evidence__item.p-researcher
            span.p-researcher__label 
              | 共同研究者
            picture.p-researcher__picture
              source.p-researcher__img(srcset='../img/researcher01@2x.webp' media='(max-width: 767px)' type='image/webp')
              source.p-researcher__img(srcset='../img/researcher01@2x.png' media='(max-width: 767px)')
              source.p-researcher__img(srcset="../img/researcher01.webp", type="image/webp")
              img.p-researcher__img(src="../img/researcher01.png" width="171" height="170" loading="lazy" alt="木下 幸弘氏の顔写真")
            .p-researcher__content 
              p.p-researcher__role 
                | 教授(臨床心理学)
              h3.p-researcher__name 
                | 木下 幸弘
              p.p-researcher__career
                | NPO法人 
                br
                | 大阪府健康長寿インターナショナル 
                br
                | 基本男女三角地域研究チーム 
                br
                | 博士号(臨床心理学)
          article.p-evidence__item.p-researcher
            span.p-researcher__label 
              | 共同研究者
            picture.p-researcher__picture
              source.p-researcher__img(srcset='../img/researcher02@2x.webp' media='(max-width: 767px)' type='image/webp')
              source.p-researcher__img(srcset='../img/researcher02@2x.png' media='(max-width: 767px)')
              source.p-researcher__img(srcset="../img/researcher02.webp", type="image/webp")
              img.p-researcher__img(src="../img/researcher02.png" width="171" height="170" loading="lazy" alt="橋本 広助氏の顔写真")
            .p-researcher__content 
              p.p-researcher__role 
                | 教授(薬化学)
              h3.p-researcher__name 
                | 橋本 広助
              p.p-researcher__career
                | 大阪大学大学院 薬化学研究科 
                br
                | 薬化学危険教室 准教授
    //- Price ご利用プラン
    section.p-price.l-home__price
      .l-container 
        p.c-section-title 
          | Price 
        h2.p-price__heading.c-section-heading 
          | ご利用プラン
        p.p-price__text 
          | 名高い桟も、蔦のかずらを頼みにしたような危い。徳川時代の末にはすでに渡ることのできる橋であった。
          br
          | (徳川時代の末にはすでに渡ることのできる橋であった。)
        ul.p-price__cards.js-trigger.js-counter-trigger
          li.p-price__card.p-card-price
            .p-card-price__head
              p.p-card-price__heading-en 
                | For Personal
              h3.p-card-price__heading-ja 
                | 個人向け
              p.p-card-price__target
                | 対象検査：Brain App
            .p-card-price__body 
              .p-card-price__detail 
                p.p-card-price__cost.is-scale-in
                  | #[span.p-card-price__yen ¥]
                  | #[span.p-card-price__number.js-price-counter(data-num="550") 0]
                  | #[span.p-card-price__tax +tax]
              .p-card-price__text 
                | 木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸であり、あるところは山の尾をめぐる谷の入り口である。
          li.p-price__card.p-card-price
            .p-card-price__head
              p.p-card-price__heading-en 
                | For Medical Institution
              h3.p-card-price__heading-ja 
                | クリニック・病院専用
              p.p-card-price__target
                | 対象検査：MPR/CT
            .p-card-price__body 
              p.p-card-price__detail 
                | プランの詳細は#[a.p-card-price__link(href="/") こちら]
              .p-card-price__text 
                | 名高い桟も、蔦のかずらを頼みにしたような危い場処ではなくなって、徳川時代の末にはすでに渡る、#[a.p-card-price__link(href="/") こちら]よりお問い合わせください。別途お見積りをさせていただきます。
          li.p-price__card.p-card-price
            .p-card-price__head
              p.p-card-price__heading-en 
                | For Company
              h3.p-card-price__heading-ja 
                | 法人のお客さま
              p.p-card-price__target
                | 対象検査：Brain App
            .p-card-price__body 
              p.p-card-price__detail 
                | お問い合わせは#[a.p-card-price__link(href="/") こちら]
              .p-card-price__text 
                | 名高い桟も、蔦のかずらを頼みにしたような危い場処ではなくなって、徳川時代の末にはすでに渡ることのできる橋であった
    //- Available ご利用可能端末
    section.l-home__available.l-container 
      .p-available
        .p-available__inner
          .p-available__content 
            p.p-available__title.c-section-title
              | Available for Tablets &amp; PCs
            h2.p-available__heading 
              | タブレット、パソコンでも、 
              br
              | ご利用いただけます。
          picture.p-available__picture
            source.p-available__img(srcset="../img/mock.webp", type="image/webp")
            img.p-available__img(src="../img/mock.png" width="514" height="251" loading="lazy" alt="スマホとpcのBrain Appの管理画面")
    //- Register 会員登録
    section.p-register.l-home__register.l-container.js-trigger
      include ./svg/_circle04.pug 
      .p-register__inner
        p.c-section-title 
          | Register
        h2.p-register__heading.c-section-heading 
          | 会員登録
        p.p-register__text 
          | Brain Appをご利用いただくのには、無料の会員登録が必要です。 
          br
          | 氏名・年齢・病歴等、簡単な基本情報を入力することで、登録することができます。
        button.p-register__button.is-scale-in(type="button")
          | 会員登録はこちらから
    //- FAQ よくある質問
    section.p-faq.l-home__faq 
      .p-faq__inner.l-container 
        p.c-section-title 
          | FAQ
        h2.p-faq__heading.c-section-heading 
          | よくあるご質問
        dl.p-faq__dl.js-accordion
          .p-faq__row.js-accordion-item.js-accordion-trigger 
            dt.p-faq__dt(tabindex="0")
              span.p-faq__circle
              | アプリの使い方を教えてください。
            dd.p-faq__dd.js-accordion-content.u-hidden(aria-expanded="false" aria-hidden="false")
              | Brain Appをご利用いただくのには、無料の会員登録が必要です。 氏名・年齢・病歴等、簡単な基本情報を入力することで、登録することができます。
              | Brain Appをご利用いただくのには、無料の会員登録が必要です。 氏名・年齢・病歴等、簡単な基本情報を入力することで、登録することができます。
          .p-faq__row.js-accordion-item.js-accordion-trigger 
            dt.p-faq__dt(tabindex="0")
              span.p-faq__circle
              | Brain Appとは何ですか？
            dd.p-faq__dd.js-accordion-content.u-hidden(aria-expanded="false" aria-hidden="false")
              | Brain Appをご利用いただくのには、無料の会員登録が必要です。 氏名・年齢・病歴等、簡単な基本情報を入力することで、登録することができます。
          .p-faq__row.js-accordion-item.js-accordion-trigger 
            dt.p-faq__dt(tabindex="0")
              span.p-faq__circle
              | MPR/CTとは何ですか？
            dd.p-faq__dd.js-accordion-content.u-hidden(aria-expanded="false" aria-hidden="false")
              | Brain Appをご利用いただくのには、無料の会員登録が必要です。 氏名・年齢・病歴等、簡単な基本情報を入力することで、登録することができます。
          .p-faq__row.js-accordion-item.js-accordion-trigger 
            dt.p-faq__dt(tabindex="0")
              span.p-faq__circle
              | アクティブシニアに向けたおすすめのプランはどれですか？
            dd.p-faq__dd.js-accordion-content.u-hidden(aria-expanded="false" aria-hidden="false")
              | Brain Appをご利用いただくのには、無料の会員登録が必要です。 氏名・年齢・病歴等、簡単な基本情報を入力することで、登録することができます。
          .p-faq__row.js-accordion-item.js-accordion-trigger 
            dt.p-faq__dt(tabindex="0")
              span.p-faq__circle
              | 何歳からBrain Appを利用することができますか？
            dd.p-faq__dd.js-accordion-content.u-hidden(aria-expanded="false" aria-hidden="false")
              | Brain Appをご利用いただくのには、無料の会員登録が必要です。 氏名・年齢・病歴等、簡単な基本情報を入力することで、登録することができます。