
$color-base: #fff;
$color-primary:#333;
$color-accent: #DF3E3E;
$color-accent-middle: #D22828;
$color-accent-dark: #C42D2D;
$color-accent-thin: #E78787;
$color-gray: #B4B4B4;
$color-gray-thin: #F9F9F9;
$color-secondary: #3A71F2;
$color-border: #E6E6E6;
$box-shadow: 0px 3px 28px #0000000F;