@use "../global" as *;

/* layout .l-footer
   ----------------------------------------------------------------- */

.l-footer {
  width: 100%;
  padding-top: 42px;

  @include mq(md) {
    padding-top: 78px;
    padding-bottom: 23px;
  }
}