@use "../global" as *;

/* layout .l-header
   ----------------------------------------------------------------- */

.l-header {
  position: relative;
  z-index: map-get($layer, header);
  width: 100%;
  padding-top: 21px;

  @include mq(md) {
    padding-top: 41px;
  }
}