@use "../global" as *;

/* layout .l-home
   ----------------------------------------------------------------- */

.l-home__mv {
  width: 100%;
  @include clampFunction("padding-top", 769, 1280, 42, 95);
  @include clampFunction("padding-bottom", 769, 1280, 42, 95);
}

.l-home__about {
  @include clampFunction("padding-top", 769, 1280, 52, 105);
  @include clampFunction("padding-bottom", 769, 1280, 58, 118);
}

.l-home__feature {
  padding-top: 38px;

  @include mq(md) {
    padding-top: 74px;
  }
}

.l-home__scene {
  padding-top: 42px;
  @include clampFunction("padding-bottom", 769, 1280, 86, 172);

  @include mq(md) {
    padding-top: 86px;
  }
}

.l-home__result {
  padding-top: 32px;
  padding-bottom: 52;
  @include mq(md) {
    padding-top: 58px;
    padding-bottom: 99px;
  }
}

.l-home__evidence {
  @include clampFunction("padding-top", 769, 1280, 52, 112);
  @include clampFunction("padding-bottom", 769, 1280, 58, 129);
}

.l-home__price {
  padding-top: 42px;
  @include clampFunction("padding-bottom", 769, 1280, 57, 115);

  @include mq(md) {
    padding-top: 80px;
  }
}

.l-home__available {
  border-bottom: 1px solid $color-border;
  max-width: 1094px;
  @include clampFunction("padding-top", 769, 1280, 51, 102);
  @include clampFunction("padding-bottom", 769, 1280, 54, 109);
}

.l-home__register {
  @include clampFunction("padding-top", 769, 1280, 56, 113);
  @include clampFunction("padding-bottom", 769, 1280, 84, 171);
}

.l-home__faq {
  padding-top: 40px;
  @include clampFunction("padding-bottom", 769, 1280, 62, 121);
  
  @include mq(md) {
    padding-top: 81px;
  }
}