@use "../global" as *;

/* animation .is-scale-in
   ----------------------------------------------------------------- */

.is-scale-in {
  display: inline-block;
  transform: scale(0, 0);
}

.is-active {
  .is-scale-in {
    animation: scaleIn 1s both;
  }
}
