svg(class="fvSvg" width='300' height='300' viewBox='0 0 300 300')
  style(type='text/css').
    .st0 {
    fill: none;
    stroke: url(#sample);
    stroke-width: 80;
    stroke-miterlimit: 10;
    }
  defs
    lineargradient#sample
      stop(offset='0%' stop-color='#F7CFCF')
      stop(offset='40%' stop-color='#EF9F9F')
      stop(offset='95%' stop-color='#DF3E3E')
  path.st0(d='M150,51c54.7,0,99,44.3,99,99c0,54.7-44.3,99-99,99c-54.7,0-99-44.3-99-99C51,95.3,95.3,51,150,51z')